.card-title{
    color: #cccccc !important;

}
.card-text{
    color: #cccccc !important;
}
.card{
    background-color:  #181818 !important;
    transition: 0.4s;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    cursor: pointer;
  
}
.card:hover{
   background-color:  #181818;
}
.vidgridVidCard-title{
    width: 100%;
    display: flex;
   
    align-items: flex-start;
}
.vid-card-title{
    margin-left: 1rem;
}
#carddropDown{
    background-color: rgb(53, 53, 53) !important ;
    color: white !important;
    border: none;
    align-self: center;
    align-items: center;
}
.vidgridVidCard{
    padding: 0.5rem 0rem !important;
}


.dropdown-menu{
    background-color: rgb(53, 53, 53) !important;
    color: white;
}
.dropdown-menu a:hover{
    color: black !important;
    background-color: white !important;
}